body {
    font-family: Sans-Serif;

    line-height: 1.5;
}

.controls {
    margin-bottom: 1em;
}

/* XXX: fix menu item height, not sure why it scales to 100% by default */
.pure-menu-item {
    height: inherit;
}

.form-element.error {
    background: rgb(250, 204, 202);
}

#menu .pure-menu-list.submenu {
    background: white;
    border: 1px solid #333;
}

.cancel-button {
    float: right;
}
